<h1>Editing collection</h1>

<%# form_for(@collection, :builder => LabelingFormBuilder) do |f| %>
<% form_for(@collection) do |f| %>
  <%= f.error_messages %>
  <p><%= f.label 'Name' %>
    <%= f.text_field :name %>
  </p>
  <p><%= f.label 'Public' %>
    <%= f.check_box :public %><br/>
    <span class="fine">Public collections are visible to everybody.</span>
  </p>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>
