<p>
  <b>Table:</b>
  <%=h @status.table %>
</p>

<p>
  <b>Name:</b>
  <%=h @status.name %>
</p>

<p>
  <b>Value:</b>
  <%=h @status.value %>
</p>
<p>
  <b>Display:</b>
  <%=h @status.display %>
</p>


<%= link_to 'Edit', edit_status_path(@status) %> |
<%= link_to 'Back', statuses_path %>
