<h1>Current competitions</h1>

<table class="diagrams">

  <% @competitions.each do |competition| %>
    <tr class="clickable"
      onclick="window.location.href = '<%= url_for competition %>'"><td>
    <span style="font:normal x-large Arial;clear:right"><%=h competition.name %></span><br>
<% logger.info competition.status.inspect %>
    Status: <%= Status.find(:first, :conditions => {:table => 'competitions', :value => (competition.status or 0)}).h_display %>

    <br>Submission deadline: <%=h competition.deadline.to_s :long %><br/>
    Director: <%=h competition.user.name %>
    <div style="white-space:pre-wrap;margin-left:5em;clear:left;width:60%"><%=h competition.announce %></div>
      <% @i=0; competition.sections.each do |section| %>
          <h4 style="margin-left:10em"><%=h section.name %></h4>
          <span style="margin-left:10em"><%=h section.theme %></span>
      <% end %>
      <%=h competition.complete ? '[complete]' : '' %>
      <%=h competition.results %>
      <%#= link_to 'Show', competition %>
      <% if may_edit? competition -%>
        <%= link_to 'Edit', edit_competition_path(competition) %>
        <!-- %= link_to 'Destroy', competition, :confirm => 'Are you sure?', :method => :delete %-->
      <% end -%>
    <br style="clear:left;margin:3em"/>
    </td></tr>
  <% end %>
</table>
<br />

<%= link_to 'New competition', new_competition_path %>
