%h2 Current competitions

%br.clearboth
- if can? :create, Competition
  = link_to 'New competition', new_competition_path, class: :button

%table.competitions
  - @competitions.each do |competition|
    - tail = can?(:show, competition) |
    ? {:onclick => "location.href = '#{competition_url(competition)}'"} |
    : nil |
    = content_tag :tr, tail do
      /%tr.clickable(onclick = "window.location.href = '#{url_for competition}'")
      %td.clickable
        /= content_tag :tr
        - if can? :manage, competition
          = link_to ' Show ', edit_competition_path(competition), class: [:button, :clearboth]
        %span(style = "font-size:x-large;clear:right")= h competition.name
        %br
        - if competition.private
          %p(style = 'color:red')PRIVATE
        Status: 
        != Status.where(table: 'competitions', value: (competition.status or 0)).first.h_display
        = succeed "Submission" do
          %br
        deadline: 
        = competition.deadline.to_s :long
        %br
        Director:
        = competition.user.name
        %div{:style => "white-space:pre-wrap;margin-left:5em;clear:left;width:60%"}= h competition.announce
        - @i=0; competition.sections.each do |section|
          %h4{:style => "margin-left:10em"}= h section.name
          %span{:style => "margin-left:10em"}= h section.theme
        = competition.complete ? '[complete]' : ''
        = competition.results
        /
      / %= link_to 'Destroy', competition, :confirm => 'Are you sure?', :method => :delete %
%br.clearboth
- if can? :create, Competition
  = link_to 'New competition', new_competition_path, class: :button
