<h1>Competition</h1>

<% form_for(@competition) do |f| %>
  <%= f.error_messages %><br style="clear:both"/>

  <div class="span-20 append-1">
  <p><%= f.submit 'Save and invite judges' %></p>
  <p>
    <%= f.label 'Name of this competition' %><br />
    <%= f.text_field :name, :size => 80 %>
  </p>
  <p>
    <%= f.label 'Announcement text' %><br />
    <%= f.text_area :announce, :size => '37x6', :style => 'width:60em;height:9em' %>
  </p>
  <p>
    <%= f.label 'Competition is formal' %>
    <%= f.check_box :formal %>
    <p class="fine">Authors' names will not be revealed to judges if checked.</p>
  </p>
  <p>
    <%= f.label 'Competition is now open, submissions are accepted' %>
    <%= f.check_box :open %>
  </p>
  <p>
    <%= f.label 'Submissions deadline' %><br />
    <%= f.date_select :deadline %>
  </p>
  <div id="sections">
  <% if @competition.sections.size == 1 %> <%# no sections %>
    <% @num = 0 -%>
    <%= render 'no_sections', :section => @competition.sections[0] %>
  <% else %>
    <p><%#= no_sections_link 'There are no sections' %></p>
    <% @num = 0 -%>
    <%= render :partial => 'section', :collection => @competition.sections %>
    <p><%= add_section_link 'Add section' %></p>
  <% end %>
  </div>
  <br style="height:5px;color:black"/>
  </div>
  <div class="span-20 last" style="background-color:#EEE;padding:5px;border:1px solid #cdc">
  <p>
    <%= f.label 'Competition is finished' %>
    <%= f.check_box :complete %>
  </p>
  <p>
    <%= f.label 'Results text' %><br />
    <%= f.text_area :results %>
  </p>
  </div>
  <p style="clear:both"/>
  <p><%= f.submit 'Save' %></p>
<% end %>

<%= link_to 'Back', competitions_path %>
