%h1 Competition
= semantic_form_for(@competition) do |f|
  = f.error_messages
  -# = f.inputs
  .span-10.append-1
    %p
      = f.label 'Format'
      = f.collection_select :ttype, Status.where(table: 'comp-type'), |
        :value, :name                                                           |
    %p
      = f.label 'Status'
      = f.collection_select :status, Status.where(table: 'competitions'), |
        :value, :name                                                           |
    %p
      = f.label 'Name of this competition'
      = f.text_field :name, :size => 80
    %p
      = f.label 'Announcement text'
      = f.text_area :announce, :style => 'height:23em'
    %p
      = f.label 'Competition is formal'
      = f.check_box :formal
      %span.fine Authors' names will not be revealed to judges if checked.
    %p
      = f.label 'Competition is private'
      = f.check_box :private
      %span.fine Competition will be visible only to you.
    %p
      = f.label 'Submissions deadline'
      = f.date_select :deadline
  .span-10

    %h2 Sections:
    .fine at least one
    - 1.times {@competition.sections.build}

    - i = 0
    = f.semantic_fields_for :sections, :sections do |ff|
      %fieldset
        %legend 
          = " Section #{i+=1} "
        = ff.label 'Name'
        = ff.text_field :name
        .fine clear name to delete section
        = ff.label 'Theme'
        = ff.text_area :theme, :style => 'height:9em'
        
        - if ff.object.user
          %p Director: #{ff.object.user.name}
          
        - if ff.object.users.present?
          %p Judges: #{ff.object.users.map(&:nick).commatize}

          
          
    %br{:style => "height:5px;color:black"}/

  .span-20.last{:style => "background-color:#EEE;padding:5px;border:1px solid #cdc"}
    %p
      = f.label 'Results text'
      %br
      = f.text_area :results
  .span-2.clear= f.submit 'Save', class: :button
  
-# %script
  $(function() {
  dynamicAddRemove('parent', 'competitions', 'child', 'sections');
  });

