- if can? :manage, @competition
  %ul.menu
    %li
      = link_to 'Edit', edit_competition_path(@competition)
    %li
      = link_to 'Destroy', @competition, :confirm => 'Are you sure?', :method => :delete
.clearboth

%h1= @competition.name
%p.fs-larger
  != Status.where(table: 'competitions', value: (@competition.status or 0)).first.h_display
.bluey
  - if @competition.ttype.present?
    ! Format:
    != Status.where(table: 'comp-type', value: (@competition.ttype)).first.name.bold
  %br
  ! Director: #{(@competition.user.nick).bold}
  %br
  ! Competition is #{(@competition.formal ? 'formal' : 'informal').bold}
  %br
  ! Deadline: #{@competition.deadline.to_s.bold}
  %p
  %p
    = @competition.announce
  - if @competition.results.present?
    %p
      Results:
      = @competition.results
    
- if may_edit? @competition
  = form_for @competition, url: {action: 'judge'}  do |f|
    - sections = @competition.sections.sort{|x|x.id}
    %table
      - if sections.count > 1
        %tr
          %td.ra Send invitation to be a
          %td
            = select_tag :role, '<option>director</option><option>judge</option>'.html_safe
            of this competition
        %tr
          %td.ra for section
          %td= collection_select :competition, :section_ids, sections, :id, :name_with_director
      - else
        %tr
          %td.ra Send invitation to judge this competition
          %td
            = hidden_field_tag :role, 'judge'
            = f.hidden_field :section_ids
      %tr
        %td.ra to email
        %td
          = f.hidden_field :id
          = text_field_tag :judge_email, '', size: 26
    %div
      If you send an invitation to be a director for a section which
      already has the director assigned, the director will be replaced
      upon accepting of your invitation.

    = f.submit ' Send invitation ', class: :button
  
  - if @competition.sections.count > 1
    %p  
      = @competition.sections.count
      sections follow:
%hr
- @competition.sections.sort{|x|x.id}.each do |section|
  %h2= section.name
  - if ([section.user, section.competition.user] & [current_user]).size > 0
    = link_to " Section report ", section_url(section), class: :button
  %p= section.theme
  %p
    - if section.user.present?
      Section director:
      %span.fs-larger= section.user.nick
      %br
    Judges confirmed:
    %span.fs-larger= section.users.present? ? section.users.map(&:nick).commatize : 'none'


