- if may_edit? @competition
  %ul.menu
    %li
      = link_to 'Edit', edit_competition_path(@competition)
    %li
      = link_to 'Destroy', @competition, :confirm => 'Are you sure?', :method => :delete
.clearboth

%h1= @competition.name
%div
  != Status.where(table: 'competitions', value: (@competition.status or 0)).first.h_display
  %br
  ! Director: #{@competition.user.name.bold}.
  ! Competition is #{(@competition.formal ? 'formal' : 'informal').bold}.
  ! Deadline: #{@competition.deadline.to_s.bold}
%p
  Announce:
  = @competition.announce
%p
  Results:
  = @competition.results
  
- if may_edit? @competition
  - form_for @competition, url: {action: 'judge'}  do |f|
    .lab Send invitation to judge section
    - if @competition.sections.count > 1
      = collection_select :competition, :section_ids, @competition.sections, |
        :id, :name                                                           |
    - else
      = collection_select :competition, :section_ids, @competition.sections, |
        :id, :name                                                           |
    .lab to email:
    = text_field_tag :judge_email, '', size: 30
    = f.hidden_field :id
    = f.submit 'Invite'
  
%p  
  = @competition.sections.count
  sections follow:
%hr
- @competition.sections.each do |section|
  %h2= section.name
  %p= section.theme
    
  %p
    Judges confirmed: #{section.users.empty? ? 'none' : section.users.map(&:name).commatize}
  %table
    - section.diagrams.each do |diagram|
      %tr
        %td
          %h3= diagram.id
          = @competition.formal ? '' : diagram.authors.map(&:name).commatize
        %td
          %div{:style => "padding:0; position:relative"}
            = image_tag '/fen/' + diagram.position, :class => :board
        %td
          = diagram.stipulation
          %br/
          = diagram.solution

