<h1>Editing author</h1>

<% form_for(@author) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :original %><br />
    <%= f.text_field :original %>
  </p>
  <p>
    <%= f.label :birth_date %><br />
    <%= f.text_field :birth_date %>
  </p>
  <p>
    Has <%= pluralize (@author.diagrams.size, 'problem') %>. 
    <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @author %> |
<%= link_to 'Back', authors_path %>
