- title 'Editing author'
- simple_form_for(@author) do |f|
  = f.input :name
  = f.input :original, hint: 'Original spelling in native alphabet'
  = f.input :birth_date, as: :date, 
    start_year: Date.today.year - 200,
    end_year: Date.today.year - 10,
    discard_day: false
  %p
    Has #{pluralize(@author.diagrams.size, 'problem')}.
  %p
    = f.submit 'Update'
= link_to 'Show', @author
|
= link_to 'Back', authors_path
