- content_for :scripts do
  = javascript_include_tag 'uncommon/authors_edit'

- @hideIfNonroman = @author.original.blank? ? 'display:visible' : 'display:none'
- @showIfNonroman = @author.original.blank? ? 'display:none' : 'display:visible'

- title 'Editing author'

- @nonroman = @author.original.present?
= simple_form_for(@author) do |f|
  = f.input :name
  = link_to_function 'Original in non-roman alphabet', "originalNonroman()", |
    style: @hideIfNonroman, id: 'shownonroman' |

  #nonroman(style = "#{@showIfNonroman}")
    = f.input :original, hint: 'Original spelling in native alphabet'
    = f.input :traditional, hint: 'Common romanization'

  %p
    = f.label 'Code'
    = @author.code
    = f.input :code, as: :hidden
    = check_box 'code', 'regenerate'
    Re-generate code

  /
    %p(style = "font-size:x-small")
    = f.input :birth_date, as: :date, 
      start_year: Date.today.year - 200,
      end_year: Date.today.year - 10,
      discard_day: false
  %p
    Has #{pluralize(@author.diagrams.size, 'problem')}.
  %p
    = f.submit 'Update', class: :button

%script
  $('#author_original').bind('keyup', updateName);


