<h1> Listing authors </h1>

<h2> Filter: </h2>
<% form_tag :authors, :method => :get do %>
  Name:
  <%= text_field_tag 'search[name]', '', :size => 20 %>
  <%= submit_tag 'Apply' %>
<% end -%>

<%= will_paginate @authors %>
<div class="pagestat"><%= page_entries_info @authors %></div>
<br style="clear:both"/>
<table>
  <tr>
    <th>Name</th>
  </tr>

<% @authors.each do |author| %>
  <tr>
    <td><%=h author.name %></td>
    <td><%=h author.original %></td>
    <% if is_admin? %>
      <td><%= link_to 'Show', author %></td>
      <td><%= link_to 'Edit', edit_author_path(author) %></td>
      <td><%= link_to '☒', author, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end -%>
  </tr>
<% end %>
</table>

<p/>

<%= will_paginate @authors %>
<div class="pagestat"><%= page_entries_info @authors %></div>

<br />

<%= link_to 'New author', new_author_path %>
