%h2 Listing authors

= form_tag :authors, method: :get do
  Filter by name:
  = text_field_tag 'search_name', '', size: 20
  = submit_tag 'Apply'

.clearboth
  = link_to 'New author', new_author_path, class: :button

= will_paginate @authors
/= kaminari_page_entries_info(@authors)
.pagestat= page_entries_info @authors

%table.authors
  %tr
    %th &nbsp;
    %th Code
    %th Name
    %th Original
    %th Traditional romanization
    - if can? :delete, Author
      %th DEL
    - @authors.each do |author|
      - url = (can?(:edit, author) ? edit_author_url(author) : url_for(author))
      %tr.clickable(onclick = "window.location.href = '#{url}'")
        %td.fs-xx-small
          = author.source
        %td.fs-small
          = author.code
        %td.fs-larger
          = author.name
        %td(style = 'color:brown') 
          = author.original
        %td= author.traditional
        - if can? :delete, author
          %td= link_to '☒', author, :confirm => 'Are you sure?', :method => :delete


/= paginate @authors
= will_paginate @authors

%p.clearboth
  - if can? :create, Author
    = link_to 'New author', new_author_path, class: :button

