%h2 Listing authors

- form_tag :authors, :method => :get do
  Filter by name:
  = text_field_tag 'search_name', '', :size => 20
  = submit_tag 'Apply'

= link_to 'New author', new_author_path, class: :standout


= will_paginate @authors
.pagestat= page_entries_info @authors

%table.authors
  %tr
    %th &nbsp;
    %th Code
    %th Name
    %th Original
    %th Traditional romanization
    %th &nbsp;
    - @authors.each do |author|
      - url = (is_admin? ? edit_author_url(author) : url_for(author))
      %tr.clickable(onclick = "window.location.href = '#{url}'")
        %td(style = 'font-size:xx-small') 
          = author.source
        %td.xs= author.code
        %td(style = 'font-size:larger') 
          = author.name
        %td(style = 'color:brown') 
          = author.original
        %td= author.traditional
        - if is_admin?
          %td= link_to '☒', author, :confirm => 'Are you sure?', :method => :delete

%p/

= will_paginate @authors
.pagestat= page_entries_info @authors

%p.clearboth
  = link_to 'New author', new_author_path, class: :standout

