<p>
	<%= form.label :login, 'Your email, it will be used as login' %><br />
	<%= form.text_field :login %>
  <span class="fine">It will also be used for password reminders and other functions</span>
</p><p>
	<%= form.label :name, 'Your name' %><br />
	<%= form.text_field :name,  :size => 40 %><br />
  <span class="fine">Real name, please</span>
</p><p>
	<%= form.label :password, form.object.new_record? ? nil : "Change password" %><br />
	<%= form.password_field :password, :size => 10 %>
</p><p>
	<%= form.label :password_confirmation %><br/>
	<%= form.password_field :password_confirmation, :size => 10 %>
  <p/>
  You will be automatically logged in after submitting this form.
</p>
