%p
  = form.label :login, 'Your email, it will be used as login'
  = form.text_field :login
  %span.fine It will also be used for password reminders and other functions
%p
  = form.label :name, 'Your name'
  = form.text_field :name,  :size => 40
  %span.fine Real name, please
%p
  = form.label :password, form.object.new_record? ? nil : "Change password"
  = form.password_field :password, :size => 10
  %br
  %span.fine Be reasonable, use hard passwords
%p
  = form.label :password_confirmation
  = form.password_field :password_confirmation, :size => 10
  %p
    You will be automatically logged in after submitting this form.
