%p
  = form.label :login, 'Your email, it will be used as login'
  = form.text_field :login
  %br
  %span.fine It may also be used for password reminders
-#%p
  = form.label :name, 'Your name'
  = form.text_field :name,  :size => 40
  %span.fine Real name, please
%p
  -#= text_field_tag :handled_name
  = form.label :password, form.object.new_record? ? nil : "Change password"
  = form.password_field :password, :size => 10
  %br
  %span.fine Be reasonable, use hard passwords
%p
  = form.label :password_confirmation
  = form.password_field :password_confirmation, :size => 10

