- title "Users"

%table.userlist
  %tr
    %th Login
    %th Name
    %th Country
    %th Address
    %th Comment
    %th Author
    %th Author name
  - for user in @users
    %tr
      %td= link_to user.email, edit_user_path(user.id)
      %td= user.name
      %td= user.country
      %td= user.address
      %td= user.comment
      %td= user.author_id
      %td= user.author.name if user.author.present?

