%h1 Register

= form_for @user, url: signup_path do |form|
  = form.error_messages
  .container.clearboth
    .span-10
      %p
        = form.label :login, 'Your email, it will be used as login'
        = form.text_field :login
      %p.fine It will also be used for password reminders and other functions
      %p
        = form.label :password, form.object.new_record? ? nil : "Change password"
        = form.password_field :password, :size => 10
        %p.fine Be reasonable, use hard passwords
      %p
        = form.label :password_confirmation
        = form.password_field :password_confirmation, :size => 10
    .span-13 
      #accordion
        %h4.accord I am listed in WFCC database.
        %div
          %p
            To be listed as author, you need a "handle".
            We may already have you name on the list.
            If you find yourself, you will be able to enter your own problems.
            Try typing your name here (it may be spelled slightly differently):

          = form.label :name, 'Name'
          = text_field_tag :name_handle, '', style: 'width:10em'

          %p.hideable#details(style = 'visibility:hide;margin:10px 0 70px')
            %p.hideable
              Handle:
              %span.hideable.x#handle
            %p.hideable
              Name:
              %span.hideable.x#name
        %h4.accord Just register me as a user.
        %div
          I am not listed, or am not willing to link this registration
          to authors in WCFF database at this time.
          
          = form.label :name, 'Name'
          = form.text_field :name, style: 'width:20em'
        
      = form.submit "Register"

          
