%p= link_to ' New problem ', new_diagram_path, class: :button
- unless (may_edit? @diagram and @diagram.sections.count < 1)
  %h4 This problem has been submitted to competition.  You may not edit it.
.span-7.append-1
  %div{ :style => "text-align:left;margin-top:1em" }
    %p{ :style => "font:bold larger Arial" }= @diagram.authors.collect(&:name).join(', ')
    %p= @diagram.label
    %p= @diagram.source
  #divBlank
    - @diagram.position = '' if @diagram.position.blank?
    = image_tag '/fen/' + @diagram.position, id: 'blank'
  %div{ :style => "text-align:right;padding-right:70px;font-size:x-small" }
    = @diagram.position.scan(/[A-Z]/).size
    +
    = @diagram.position.scan(/[a-z]/).size
  .d= @diagram.stipulation
  .xs= @diagram.twin
  .xs= @diagram.fairy                                                         
  - @diagram.tested = 0 if @diagram.tested.blank?
  .xs!= Status.where(:table.eq => 'diagrams', :value.eq => @diagram.tested)[0].h_display
.span-8
  %pre.solution= @diagram.solution
.span-7.last
  - if may_edit? @diagram and @diagram.sections.count < 1
    .d
      You may submit this diagram to an open competition:
      - form_for @diagram, section_diagram_path(@diagram) do |f|
        = hidden_field_tag :id, @diagram.id
        = collection_select :diagram, :section_ids, |
        (Section.includes(:competition) & Competition.public(current_user)), |
        :id, :name_cs, {selected: nil, include_blank: true }, |
        {name: 'diagram[section_ids][]', style: 'width:24em' } |
        = f.submit 'Submit to competition', class: :button
    .fine You will not be able to edit this diagram after submission.

  - unless @diagram.sections.empty?
    .greeny-highlight
      .d Submitted to competitions:
      %b= @diagram.sections[0].name_cs

  /
    = form_for @diagram do |f|
      = f.label 'Collections'
      = collection_select :diagram, :collection_ids, Collection.all(:conditions => {:public => true }) | [] | (current_user ? current_user.collections : []), :id, :name, { :selected => @diagram.collection_ids }, { :multiple => true, :name => 'diagram[collection_ids][]', :style => 'width:24em' }
      .fine multiple select: Ctrl-click / ⌘-click
      = f.submit 'Save changes to collections', class: :button
    .cgreen= @diagram.collections.collect(&:name).join(', ')
    
%ul.menu-small
  /%li= link_to 'Back', diagrams_path, class: :button
  - if can? :manage, @diagram and @diagram.sections.count < 1
    %li= link_to 'Edit', edit_diagram_path(@diagram), class: :button
    %li= link_to 'Destroy', @diagram, :confirm => 'Are you sure?', method: :delete, class: :button
.xs
  Entered by:
  = @diagram.user.nick || 'system'


