<ul class="menu">
<li><%= link_to 'Back', diagrams_path %>
<% if may_edit? @diagram and @diagram.sections.count < 1-%>
  <li><%= link_to 'Edit', edit_diagram_path(@diagram) %>
  <li><%= link_to 'Destroy', @diagram, :confirm => 'Are you sure?', :method => :delete %>
<% end -%>
</ul><p style="clear:both;height:1ex"/>
<div class="span-7 append-1">
  <div style="text-align:center">
    <p>
      <%=h @diagram.authors.collect(&:name).join ', ' %>
    </p>
    <p> <%=h @diagram.label %> <br/>
        <%=h @diagram.source %> <br/>
        <%=h @diagram.published %>
    </p>
        <div  id="divBlank" style="padding:0; position:relative">
          <% @diagram.position = '' unless @diagram.position -%>
          <%= image_tag '/fen/' + @diagram.position  , :id => 'blank', :class => :noBorder -%>
        </div>
        <div style="text-align:right;padding-right:3em;font-size:x-small">
          <%= @diagram.position.scan(/[A-Z]/).count -%>+<%= @diagram.position.scan(/[a-z]/).count -%>
        </div>
    <p>
      <%=h @diagram.stipulation %><br/>
      <span style="font-size:smaller"><%=h @diagram.twin %></span>
    </p>
  </div>
</div>
<div class="span-8">
    <p style="font-size:x-small">
      <%=h @diagram.tested ? 'C+' : 'C-' %>
    </p>
      <pre class="solution"><%=h @diagram.solution -%></pre>
</div>
<div class="span-7 last">
  <% if may_edit? @diagram -%>
    <p>You may submit this diagram to an open competition:
    <% form_for @diagram, :url => {:action => 'section'} do |f| %>
        <%= collection_select :diagram, :section_ids,
          Section.all,
          :id, :name,
          { :selected => nil, :include_blank => true },
          { :name => 'diagram[section_ids][]', :style => 'width:24em' }
        %>
        <%= f.submit 'Submit to competition' %>
        <p class="fine">You will not be able to edit this diagram after submission.</p>
    <% end -%></p>

    <p class="greeny-highlight"><% unless @diagram.sections.empty? -%>
          Submitted to competitions:<br/>
          <b><%=h @diagram.sections.map(&:name).join ', ' %></b>
    <% end -%></p>

    <% form_for @diagram do |f| %>
      <%= f.label 'Collections' %><br/>
      <%= collection_select :diagram, :collection_ids,
        Collection.all(:conditions => {:public => true }) |
        [] |
        (current_user ? current_user.collections : []),
        :id, :name,
        { :selected => @diagram.collection_ids },
        { :multiple => true, :name => 'diagram[collection_ids][]', :style => 'width:24em' }
    -%>
       <p class="fine">multiple select: Ctrl-click / ⌘-click to select more</p>
        <%= f.submit 'Save changes to collections' %>
      <% end -%>
  <% end -%>
</div>
<p style="clear:both"/>
<p style="color:#281"><%=h @diagram.collections.collect(&:name).join ', ' %></p>
<span style="font-size:smaller">Entered by: <%=h @diagram.user ? @diagram.user.name : '' %>
</span>
