%h2= @section.competition.name
%h3 Statistics for #{@section.name}

%table.section-stats
  %tr
    %th problem ID and authors
    %th.kings kings
    - @k.each do |judge|
      %th
        = User.find(judge).nick
    %th total
        
        
  - @r.each_key do |id|
    - diagram = Diagram.find_by_id id
    %tr
      %td
        = link_to id, diagram_path(id)
        = diagram.stipulation
        %br
        .fine= diagram.authors.map(&:name).commatize
      %td.kings
        = diagram.kings.join '-'
      - @k.each_index do |judge|
        - mark = @r[id][0].zip(@r[id][1])[judge]
        %td
          = mark.et.slice 0
          %br
          .fine= mark.et.slice 1
      %td.total
        = @r[id][2]
    
