.login
  - if user_signed_in?
    %button.button#lg_menu
      = current_user.nick
      ▼
    #lg_submenu(style = "display:none")
      %ul
        %li= link_to 'My account', account_path
        %li= link_to 'Logout', logout_path
  - else
    #lg_submenu
      %ul
        %li= link_to 'Log in', login_path
        %li= link_to 'Register', signup_path

