- name = current_user_session ? current_user.name + ' ▼' : 'log in ▼'

.login
  %button(class = "button" id = "lg_menu")= name
  #lg_submenu(style = "display:none;position:absolute")
    %ul
      - if current_user_session
        %li= link_to 'My account', '/account'
        %li= link_to 'Logout', '/logout'
      - else
        %li= link_to 'Sign in', '/login'
        %li= link_to 'Sign up', '/signup'

