-# encoding: utf-8
!!! 5
%html
  %head
    %meta{ charset: 'utf-8' }
    %title
      dia-x:
      = controller.controller_name.humanize
      = controller.action_name
    = stylesheet_link_tag stylesheets_path(package: :desktop)
    = javascript_include_tag :defaults, 'jquery-ui-1.8.6.custom.min', 'jquery-tokenizing', 'nested_form'
    = javascript_include_tag javascripts_custom
    = yield :scripts
    = csrf_meta_tag
    = render partial: 'layouts/google_analytics'
  %body
    %a.plain(href = '/')
      = image_tag 'dia-x-logo.png'
    = render 'layouts/logged_in'
    %ul.menu
      - if is_admin?
        %li= link_to 'Competitions', :controller => 'competitions'
      -# %li= link_to 'Problems', :controller => 'diagrams'
      %li= link_to 'My problems', controller: :diagrams, action: :mine
      %li= link_to 'Authors', controller: :authors
    %div{ style: "height:50px; clear:both; margin:4px auto; text-align:center" }
      - if flash[:notice]
        %p.notice= flash[:notice]
      - elsif flash[:error]
        %p.error= flash[:error]
      - else
        %p.nomessage
    .container{ style: "clear:both;padding-top:2px" }
      != yield
    %div{ :style => "text-align:right;padding-top:1em" }
      %span{ :style => "border-top:1px solid #bbb;font:normal smaller Arial" }
        2009 © WFCC
