-# encoding: utf-8
!!! 5
%html
  %head
    %meta(charset = 'utf-8')
    %title
      dia-x:
      = controller.controller_name.humanize
      = controller.action_name
    = stylesheet_link_tag stylesheets_path(package: :desktop)
    = javascript_include_tag 'http://www.google.com/jsapi?key=' + Ya['google_api']
    = javascript_include_tag 'application', 'rails'
    = javascript_include_tag 'jquery.tokeninput', 'nested_form'
    = javascript_include_tag javascripts_custom
    = yield :scripts
    = csrf_meta_tag
    = render partial: 'layouts/google_analytics'
    %link(rel='shortcut icon' type='image/ico' href='/favicon.ico')
  %body
    - if session[:geo][:value] != 'LV' and Ya['only_lativa']
      %h2 The site is under maintenance.
      Check back soon.
    - else
      = render partial: 'layouts/ie6' 
      %a.plain(href = '/')
        /= image_tag 'dia-x-logo.png'
        %h1 diagram exchange
      = render 'layouts/logged_in'        
      %ul.menu
        %li= link_to 'Competitions', competitions_path
        %li= link_to 'People', authors_path
        %li= link_to 'My problems', diagrams_path
        - if current_user.et.sections.present?
          %li= link_to 'My judgements', sections_path
      - flash.each do |key, message|
        = content_tag :p, message, class: key
      .container
        != yield
    %div{ :style => "text-align:right;padding-top:1em" }
      %span{ :style => "border-top:1px solid #bbb;font:normal smaller Arial" }
        2009 © WFCC
