-# encoding: utf-8
!!! 5
%html
  %head
    %meta(charset = 'utf-8')
    %title= content_for?(:title) ? yield(:title) : 'ankona'
    = stylesheet_link_tag :application
    -#= render partial: 'layouts/cdn'
    = javascript_include_tag :application
    = yield :scripts
    = csrf_meta_tag
    = render partial: 'layouts/google_analytics'
    %link(rel='shortcut icon' type='image/ico' href='/favicon.ico')
    %link(href='http://fonts.googleapis.com/css?family=Ubuntu:400,500|Open+Sans:400,600&subset=cyrillic-ext,latin-ext' rel='stylesheet' type='text/css')
  %body
    - if false
    - else
      = render 'common/ie6'
      
      = link_to_unless_current h1_header, '/'
        
      = render 'common/logged_in'        
      %ul.menu
        %li= link_to 'Competitions', competitions_path
        -#%li= link_to_unless_current 'People', authors_path
        %li= link_to 'People', authors_path
        %li= link_to 'My problems', diagrams_path
        - if user_signed_in? and (current_user.sections.present? or Section.find_by_user_id current_user.id)
          %li= link_to 'My judgements', sections_path
      - flash.each do |key, message|
        = content_tag :p, message, class: key
      .container
        != yield
        = render 'common/footer'

